# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Variáveis de ambiente
.env

# Arquivos temporários de vídeo
temp/
uploads/

# PyCharm
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.pyc